$primaryColor: #eb575c;
$borderColor: #ddd;
$greyBg: #eee;
$greyBorder: #e6e6e6;
$fontColor: #555;
$legendBg: #fafafa;
$SBBorderColorActive: #ccc;
$linkBlue: #47b6e4;

html,
body {
	overflow-x: hidden;
}

.report-table {
	margin: 20px;
	font-size: 1.2em;
	border: 1px solid $borderColor;

	.col-md-4 {
		padding: 15px 25px;

		&:nth-child(2) {
			text-align: center;
		}
	}

	input[id='select-filter-reportTable'] {
		padding: 16px;
		font-size: 1em;
	}

	thead {
		background-color: $greyBg;
		border-top: 2px solid $borderColor;
	}
}

.report-controls-wrapper {
	margin: 20px 0;

	.control-label {
		font-size: 1.2em;
		text-transform: capitalize;
		font-weight: 700;
		border-bottom: 1px solid $greyBorder;
		margin-bottom: 10px;
		padding-bottom: 5px;
		display: block;
		color: lighten($fontColor, 10%);
	}

	button.btn.btn-lightBg {
		width: 100%;
		padding: 7px 10px;
	}
}

.react-select-box-container .react-select-box {
	padding: 8px;
	border-radius: 3px;
}

.DateRangePicker {
	display: block;

	.DateRangePickerInput {
		background-color: lighten($linkBlue, 37%);
		display: block;
		border: 2px solid $linkBlue;
		border-radius: 3px;

		.DateRangePickerInput_calendarIcon,
		.DateRangePickerInput_clearDates {
			width: auto;
			padding: 0 8px;

			&:hover {
				background: none;
			}
		}

		.DateInput {
			padding: 0;
			text-align: center;
			font-size: 1em;
			width: 90px;
			font-family: 'Karla', sans-serif;
			font-size: 1.1em;
			background-color: lighten($linkBlue, 37%);

			input {
				cursor: pointer;
			}
		}
	}

	.DayPickerNavigation_button__default {
		width: 50px;
	}
}

.DateRangePicker_picker {
	top: 45px !important;
}

.DateInput__openDown_3.DateInput__openDown_3.DateInput__openDown_3:after {
	top: 36px;
}

.DateInput__openDown_3.DateInput__openDown_3.DateInput__openDown_3:before {
	top: 35px;
}

.DateInput_displayText__focused_3.DateInput_displayText__focused_3.DateInput_displayText__focused_3,
.DateInput_displayText__focused_2.DateInput_displayText__focused_2 {
	color: #fff;
	border-radius: 0;
	background-color: lighten($linkBlue, 7%);
	border-color: lighten($linkBlue, 7%);
}

.CalendarDay__hovered_span.CalendarDay__hovered_span_2 {
	&,
	&:hover {
		background-color: lighten($linkBlue, 7%);
		color: #fff;
		border-color: lighten($linkBlue, 7%);
	}
}

.CalendarDay__selected_span_2.CalendarDay__selected_span_2,
.CalendarDay__selected_span_3.CalendarDay__selected_span_3.CalendarDay__selected_span_3,
.CalendarDay__selected_4.CalendarDay__selected_4.CalendarDay__selected_4.CalendarDay__selected_4 {
	background-color: lighten($linkBlue, 7%);
	border-color: lighten($linkBlue, 7%);

	&:hover {
		background-color: lighten($linkBlue, 10%);
		border-color: lighten($linkBlue, 10%);
	}
}

.CalendarDay__selected_2.CalendarDay__selected_2,
.CalendarDay__selected_3.CalendarDay__selected_3.CalendarDay__selected_3,
.CalendarDay__hovered_span.CalendarDay__hovered_span_3.CalendarDay__selected.CalendarDay__selected_4 {
	&,
	&:hover {
		background-color: $linkBlue;
		border-color: $linkBlue;
	}
}

.pane-loader-icon {
	display: block;
	color: $primaryColor;
	font-size: 2.5em;
	margin-bottom: 20px;
}

.react-select-box-container .react-select-box-clear {
	top: 9px;
}

.variation-alert {
	width: 70%;
	margin: 0 auto;
	font-size: 1.2em;
}

.chart-legend {
	margin-top: 20px;
	background-color: $legendBg;
	border: 2px solid $greyBg;

	.legend-col {
		width: 12.5%;
		float: left;
		padding: 0 5px;
	}

	.legend-item {
		font-size: 1.2em;
		padding: 15px 0;
		cursor: pointer;
		color: darken($greyBorder, 15%);
		margin-bottom: -2px;
	}
}

._collapse-panel {
	.panel {
		border: none;
		margin: 0;
		margin-top: 3px;
		box-shadow: none;
		border-radius: 0;

		.panel-body {
			padding: 5px 0;
			border-top: 1px solid darken($greyBorder, 10%);
		}
	}
}

.DateRangePickerInput_calendarIcon_svg_1,
.DateRangePickerInput_arrow_svg_1,
.DateRangePickerInput_clearDates_svg_1 {
	fill: darken($linkBlue, 40%);
}

.DateInput_displayText__hasInput_2.DateInput_displayText__hasInput_2 {
	color: darken($linkBlue, 40%);
}

.toggle input[type='checkbox']:checked ~ label .toggleSwitch {
	background-color: darken($linkBlue, 25%);
}

.toggle input[type='checkbox']:checked ~ label .toggleSwitch:after {
	color: darken($linkBlue, 25%);
	box-shadow: 0 2px 2px 0 rgba(71, 182, 228, 0.4);
}

.hidden {
	display: none;
}

.updateStatusDiv {
	text-align: right;
	padding-right: 30px;
}
.runningStatus {
	font-weight: bold;
	font-size: 14px;
	background-color: #ffff00;
	color: #ff0000;
	animation: fontbulger 2s infinite;
}

@keyframes fontbulger {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
