$primaryColor: #eb575c;
$borderColor: #ddd;
$greyBg: #eee;
$greyBorder: #e6e6e6;
$fontColor: #555;

html,
body {
	overflow-x: hidden;
}

.report-table {
	margin: 20px;
	font-size: 1.2em;
	border: 1px solid $borderColor;

	.col-md-4 {
		padding: 15px 25px;

		&:nth-child(2) {
			text-align: center;
		}
	}

	input[id='select-filter-reportTable'] {
		padding: 16px;
		font-size: 1em;
	}

	thead {
		background-color: $greyBg;
		border-top: 2px solid $borderColor;
	}
}

.report-controls-wrapper {
	margin: 20px 0;

	button.btn.btn-lightBg {
		width: 100%;
		padding: 7px 10px;
	}
}

.react-select-box-container .react-select-box {
	padding: 8px;
	border-radius: 3px;
}

.DateRangePicker {
	display: block;

	.DateRangePickerInput {
		display: block;
		border-color: $greyBorder;
		border-radius: 3px;

		.DateRangePickerInput_calendarIcon,
		.DateRangePickerInput_clearDates {
			width: auto;
			padding: 0 8px;

			&:hover {
				background: none;
			}
		}

		.DateInput {
			padding: 0 8px;
			font-size: 1em;
			width: 90px;
			font-family: 'Karla', sans-serif;
			font-size: 1.1em;

			input {
				cursor: pointer;
			}
		}
	}

	.DayPickerNavigation_button__default {
		width: 50px;
	}
}

.DateRangePicker_picker {
	top: 45px !important;
}

.DateInput__openDown_3.DateInput__openDown_3.DateInput__openDown_3:after {
	top: 36px;
}

.DateInput__openDown_3.DateInput__openDown_3.DateInput__openDown_3:before {
	top: 35px;
}

.DateInput_displayText__focused_3.DateInput_displayText__focused_3.DateInput_displayText__focused_3 {
	color: #fff;
	border-radius: 0;
	background-color: lighten($primaryColor, 5%);
}

.CalendarDay__selected_span_2.CalendarDay__selected_span_2 {
	background-color: lighten($primaryColor, 5%);
	border-color: lighten($primaryColor, 5%);

	&:hover {
		background-color: lighten($primaryColor, 8%);
		border-color: lighten($primaryColor, 8%);
	}
}
