$textColor: #555;

$primaryColor: #eb575c; //Main Adpushup Red Color
$primaryColorDark: #cf474b; //Red Dark Color
$primaryColorLight: #fb9fa2;
$mainBgColor: #f6f7f8;
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #89949b;
$warningColor: #f0ad4e;
$fontColor: #555555;
$dimFontColor: #b2b2b2;
$borderColor: #e6e6e6;
$iconColor: #787878;
$dashboardBgColor: #ebf1f2;
$lightGrey: #ccc;
$GreenColor: #14a314;
$codeBg: #f3f5f7;
$primaryRed: #d9434e;
$primaryRedDark: darken($primaryRed, 10%);
$successGreen: #3bb85d;
$linkBlue: #47b6e4;
$darkGreyColor: #505050;

$LBBgColor: #f9f9f9;
$LPFormColor: #89949b;

$errorText: #c3272b;
$successText: #006442;
