/*****Normalize bootstrap CSS according to our product*****/
a {
	color: #1f91de;
}

a > button.btn {
	color: inherit;
	border: none;
	background: none;
}
.list-group-item {
	&.is-active {
		border: 1px solid $borderColor;
		box-shadow: $boxShadowInsetOne;

		svg,
		i {
			color: $primaryColor;
		}
	}
}

.breadcrumb {
	background-color: transparent;
	margin: 0 0 10px;
	padding: 0;

	> li + li:before {
		padding: 0 5px;
		color: #ccc;
		content: '> ';
	}

	.breadcrumb-item {
		font-size: 1.8rem;
		color: inherit;

		// a {
		// 	color: $primaryColor;
		// }
	}
}
