.btn {
	padding: 7px 20px;
	transition: all 0.2s ease;
	&:hover {
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
	}
	&.btn--primary {
		background: $primaryColor;
		color: $whiteColor;
	}
	&.btn--secondary {
		color: $primaryColor;
		border-color: $primaryColor;
		&:hover {
			background: $whiteColor;
		}
	}
}
