@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import './colors';
@import './variables';
@import './mixins';
@import './extend';
@import './utilities/index';
@import 'normalize';

@import './customButtons';
@import './form';

body {
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	color: $textColor;
}
