// Colors
$primaryColor: #eb575c; //Main Adpushup Red Color
$primaryColorDark: #cf474b; //Red Dark Color
$primaryColorLight: #fb9fa2;
$mainBgColor: #f6f7f8;
$whiteColor: #fff;
$blackColor: #000;
$warningColor: #f0ad4e;
$fontFamily: 'Karla', sans-serif;
$fontColor: #555555;
$dimFontColor: #b2b2b2;
$borderColor: #e6e6e6;
$iconColor: #787878;
$arrowDownIconSize: 12px;
$BorderRadius: 3px;
$dashboardBgColor: #ebf1f2;
$lightGrey: #ccc;
$fontSize: 12px;
$GreenColor: #14a314;
$codeFont: monospace;
$codeBg: #f3f5f7;
$primaryRed: #d9434e;
$primaryRedDark: darken($primaryRed, 10%);
$successGreen: #3bb85d;
$linkBlue: #47b6e4;
$darkGreyColor: #505050;

$sidebar-width: 250px;
$sidebar-transition-style: linear;
$sidebar-transition-duration: 0.3s;

//Loader ($LO)
$LOSpinBeforeHeiWidth: 100px;
$LOSpinBeforeBorderWid: 5px;

$sidebarWidth: 250px;
$sidebarTransitionStyle: linear;
$sidebarTransitionDuration: 0.3s;

//LoaderBar ($LB)
$LBHeight: 3px;
$LBSpinnerPosition: 15px;
$LBSpinnerHeightWidth: 20px;

$LPFormButtonSize: 12px;
$LPFormInputHeight: 50px;

$none: 'none';
$normal: 'normal';
$nowrap: 'nowrap';
$wrap: 'wrap';
$wrapReverse: 'wrap-reverse';
$start: 'start';
$center: 'center';
$end: 'end';
$justify: 'justify';
$distribute: 'distribute';
$stretch: 'stretch';
$baseline: 'baseline';
$auto: 'auto';

$textBold: 'bold';
$textBolder: 'bolder';
$textUnderline: 'underline';
$textUppercase: 'uppercase';
$textLowercase: 'lowercase';

$cursorPointer: 'pointer';

$displayBlock: 'block';
$displayFlex: 'flex';
$displayInlineFlex: 'inline-flex';

$layoutHorizontal: 'horizontal';
$layoutVertical: 'vertical';
$layoutRow: 'row';
$layoutColumn: 'column';

$flexStart: 'flex-start';
$flexEnd: 'flex-end';

$contentSpaceBetween: 'space-between';
$contentSpaceAround: 'space-around';
$contentSpaceEvenly: 'space-evenly';

$directionReverse: 'reverse';
$directionRowReverse: 'row-reverse';
$directionColumnReverse: 'column-reverse';

$fullPercentage: '100%';
$halfPercentage: ($fullPercentage / 2);

$numberZero: 0;
$numberOne: 1;
$numberTwo: ($numberOne + $numberOne);
$numberHalf: ($numberOne / $numberTwo);
$numberThree: ($numberOne + $numberTwo);
$numberFour: ($numberTwo + $numberTwo);
$numberFive: ($numberFour + $numberOne);
$numberSix: ($numberFive + $numberOne);
$numberTen: ($numberFive * $numberTwo);

/*****LAYOUT DIMENSION*****/
$designDimensionBase: 0.25rem;
$designDimensionXS: ($designDimensionBase + $designDimensionBase); // 0.5rem
$designDimensionSM: ($designDimensionXS + $designDimensionXS); // 1rem
$designDimensionMD: ($designDimensionSM + $designDimensionSM); // 2rem
$designDimensionLG: ($designDimensionMD + $designDimensionMD); // 4rem
$designDimensionXL: ($designDimensionLG + $designDimensionLG); // 8rem
$designDimensionXXL: ($designDimensionXL + $designDimensionXL); // 16rem
