@import 'header';
@import 'sidebar';

.container-fluid {
	height: 100%;
	display: flex;
	flex-direction: column;
	.sidebar-main-wrap {
		height: 100%;
		display: flex;
		.main-content {
			flex-grow: 1;
			background: #eee;
			padding: 30px;
			overflow-y: auto;
		}
	}
}
