@import 'header';
@import 'sidebar';

.container-fluid {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.sidebar-main-wrap {
		height: calc(100vh - 55px);
		min-height: 460px;
		display: flex;
		flex-grow: 1;
		.main-content {
			flex-grow: 1;
			background: #ebf1f2;
			padding: 30px;
			overflow-y: auto;
		}
	}
}
