//Sidebar
$sidebar-width: 250px;
$sidebar-transition-style: linear;
$sidebar-transition-duration: 0.3s;

.sidebar {
	position: relative;
	transition: width $sidebarTransitionStyle $sidebarTransitionDuration;
	overflow: hidden;
	flex-grow: 0;
	&.sb-show {
		width: $sidebarWidth;
	}
	&.sb-hide {
		width: 60px;
		.link-text-wrap {
			width: 0% !important;
		}
		.cta-btn-wrap {
			margin-left: 10px;
			margin-right: 10px;
			.cta-btn {
				.cta-btn-txt-wrap {
					width: 0% !important;
				}
				.cta-btn-icon {
					opacity: 1;
				}
			}
		}
	}

	%list-active-state {
		position: relative;
		background: rgba(#000, 0.03);
		color: $primaryColor;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: calc(100% - 7px);
			bottom: 0;
			left: 0;
			background: $primaryColor;
		}
		.sb-nav-icon-wrap {
			color: $primaryColor;
		}
	}

	.sb-nav {
		padding-left: 0;
		margin-bottom: 0;

		a {
			display: block;
			color: inherit;
			&:focus,
			&:hover {
				text-decoration: none;
			}

			li {
				list-style: disc;
				padding: 15px;
				padding-right: 20px;
				text-transform: uppercase;

				&:hover {
					@extend %list-active-state;
				}

				.link-text-wrap {
					position: absolute;
					width: calc(100% - 30px);
					overflow: hidden;
					transition: width $sidebarTransitionStyle $sidebarTransitionDuration;
					.link-text {
						display: block;
						width: $sidebarWidth;
					}
				}
				.sb-nav-icon-wrap {
					float: right;
					width: 20px;
					text-align: center;
					font-size: 1.2em;
					color: lighten($textColor, 10%);
				}
			}

			&.active li {
				@extend %list-active-state;
			}
		}

		&.primary-nav {
			margin-top: 20px;
		}
		&.secondary-nav {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;
		}
	}
	.cta-btn-wrap {
		position: relative;
		margin: 35px 15px;
		.cta-btn {
			text-align: center;
			display: block;
			background: $primaryColor;
			color: #fff;
			text-decoration: none;
			padding: 10px;
			text-transform: uppercase;
			border-radius: 3px;
			height: 34px;
			&:hover {
				background: darken($primaryColor, 10%);
			}
			.cta-btn-txt-wrap {
				position: absolute;
				width: 100%;
				overflow: hidden;
				top: 0;
				left: 0;
				transition: width $sidebarTransitionStyle $sidebarTransitionDuration;
				.cta-btn-text {
					width: $sidebarWidth - 30px;
					padding: 7px;
					display: block;
				}
			}
			.cta-btn-icon {
				transition: opacity $sidebarTransitionStyle $sidebarTransitionDuration;
				opacity: 0;
			}
		}
	}
}
