[submodule "services/genieeAdSyncService/adpushup.js/libs/jquery"]
	path = services/genieeAdSyncService/adpushup.js/libs/jquery
	url = https://github.com/jquery/jquery
[submodule "services/genieeAdSyncService/adpushup.js/modules/adpTags/Prebid.js"]
	path = services/genieeAdSyncService/adpushup.js/modules/adpTags/Prebid.js
	url = https://github.com/adpushup/Prebid.js.git
