<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title></title>
	</head>
	<body
		style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#555;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important"
	>
		<table align="center" style="width: 600px;padding-top: 100px;">
			<tbody>
				<tr>
					<td>Hello Team,</td>
				</tr>
				<tr>
					<td>Recent console crash reports.</td>
				</tr>
				<tr>
					<td>
						<table>
							<tbody>
								<tr>
									<td>
										Console Error
									</td>
									<td>
										Some Error......
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tbody>
								<tr>
									<td>
										User Comment
									</td>
									<td>
										User comment......
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tbody>
								<tr>
									<td>
										User Email
									</td>
									<td>
										User Email......
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tbody>
								<tr>
									<td>
										Route
									</td>
									<td>
										Route......
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tbody>
								<tr>
									<td>
										Date
									</td>
									<td>
										Date......
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
