// React tab panel custom styles (for variation settings pane)

$primaryColor: #eb575c;
$primaryColorDark: #cf474b;
$fontFamily:'Karla', sans-serif;
$fontColor:#555555;
$borderColor: #e6e6e6;
$lightGrey:#ccc;

.react-tab-panel {
    font-size: 1.2em;
    position: relative;
    top: -12px;
    font-family: $fontFamily;
    height: 90%;
}

.react-tab-panel__tab-strip--theme-default .react-tab-panel__tab-title:not(.react-tab-panel__tab-title--active) {
    color: $fontColor;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-strip-between {
    display: none;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title--active {
    border-left: 3px solid $primaryColorDark;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-strip-after,
.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title-inner--active:before, .react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-right .react-tab-panel__tab-title-inner--active:before,
.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title-inner--active:after, .react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-right .react-tab-panel__tab-title-inner--active:after,
.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title-inner,
.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title-inner {
    border-color: $borderColor;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title-inner--active {
    border-color: transparent;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--orientation-horizontal.react-tab-panel__tab-strip--tab-position-left .react-tab-panel__tab-title-inner {
    padding: 12px;
}

.react-tab-panel--theme-default .react-tab-panel__body {
    padding: 12px 12px 12px 20px;

    & > div {
        display: block;
        width: 100%;
    }

    .row {
        margin: 0 0 8px;

        .row {
            margin-bottom: 0;
        }

        .bnt-block {
            width: auto;
        }
    }
}

.CodeMirror {
	transition: all 1s;
}

.codeEditor-small {
    .CodeMirror {
        height: 110px;
    }
}

.codeEditor-large {
    .CodeMirror {
        height: 300px;
    }
}

.incontent-network-code-box .butttonsRow .btn-cancel{
    display: none;
}