.hb-setup {
	ul {
		li {
			list-style: none;
			margin: 15px 0;
			span {
				display: inline-block;
				&.name {
					min-width: 200px;
				}
				&.status {
					width: 100px;
				}
				&.btn-wrap {
					width: 200px;
				}
			}
		}
	}
}

.hb-bidders-list {
	.added-bidders,
	.not-added-bidders {
		.u-cursor-pointer:hover {
			background: rgba($color: #000000, $alpha: 0.05);
		}
	}
}

.hb-add-bidder {
	.hb-input {
		max-width: 250px;
	}
}
