.sidebar {
	position: relative;
	transition: width $sidebar-transition-style $sidebar-transition-duration;
	overflow: hidden;
	flex-grow: 0;
	&.sb-show {
		width: $sidebar-width;
	}
	&.sb-hide {
		width: 60px;
		.link-text-wrap {
			width: 0% !important;
		}
		.cta-btn-wrap {
			margin-left: 10px;
			margin-right: 10px;
			.cta-btn {
				.cta-btn-txt-wrap {
					width: 0% !important;
				}
				.cta-btn-icon {
					opacity: 1;
				}
			}
		}
	}
	.sb-nav {
		padding-left: 0;
		margin-bottom: 0;
		li {
			list-style: none;
			text-transform: uppercase;
			&:hover {
				position: relative;
				background: rgba(#000, 0.03);
				color: $primary-color;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: calc(100% - 7px);
					bottom: 0;
					left: 0;
					background: $primary-color;
				}
				.sb-nav-icon-wrap {
					color: $primary-color;
				}
			}
			a {
				display: block;
				padding: 15px;
				padding-right: 20px;
				color: inherit;
				&:focus,
				&:hover {
					text-decoration: none;
				}
				.link-text-wrap {
					position: absolute;
					width: 100%;
					overflow: hidden;
					transition: width $sidebar-transition-style $sidebar-transition-duration;
					.link-text {
						display: block;
						width: $sidebar-width;
					}
				}
				.sb-nav-icon-wrap {
					float: right;
					width: 20px;
					text-align: center;
					font-size: 1.2em;
					color: lighten($text-color, 10%);
				}
			}
		}

		&.primary-nav {
			margin-top: 20px;
		}
		&.secondary-nav {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20px;
		}
	}
	.cta-btn-wrap {
		position: relative;
		margin: 35px 15px;
		.cta-btn {
			text-align: center;
			display: block;
			background: $primary-color;
			color: #fff;
			text-decoration: none;
			padding: 10px;
			text-transform: uppercase;
			border-radius: 3px;
			height: 34px;
			&:hover {
				background: darken($primary-color, 10%);
			}
			.cta-btn-txt-wrap {
				position: absolute;
				width: 100%;
				overflow: hidden;
				top: 0;
				left: 0;
				transition: width $sidebar-transition-style $sidebar-transition-duration;
				.cta-btn-text {
					width: $sidebar-width - 30px;
					padding: 7px;
					display: block;
				}
			}
			.cta-btn-icon {
				transition: opacity $sidebar-transition-style $sidebar-transition-duration;
				opacity: 0;
			}
		}
	}
}
