.card {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
	width: 480px;

	.card-header-title {
		font-size: 1.8rem;
	}

	.card-header-icon {
		flex: ($numberOne / $numberTen);
		height: ($numberOne + ($numberOne/$numberTwo) + em);
	}

	> .card-body {
		.panel-heading {
			font-size: 1.6rem;
		}

		.panel-body {
			font-size: 1.4rem;
			opacity: 0.8;
		}

		a {
			opacity: 1;
			text-decoration: underline;
		}
	}

	> .card-footer {
		border: 0;

		button {
			background: transparent;
			border: 0;
			box-shadow: none;
			outline: 0 none;
			padding: 1rem 1.5rem;

			&:hover,
			&:active,
			&:focus {
				background: #e6e6e6;
				box-shadow: none;
				outline: 0 none;
			}
		}
	}

	&.panel.panel-success {
		> .card-body {
			.panel-body {
				color: #3c763d;
			}
		}
	}

	&.panel.panel-warning {
		> .card-body {
			.panel-body {
				color: #8a6d3b;
			}
		}
	}

	&.panel.panel-danger {
		> .card-body {
			.panel-body {
				color: #a94442;
			}
		}
	}

	&.card--theme-dotted {
		border: 2px dashed #ccc;
		border-radius: 4px;
		box-shadow: none;
		height: 173px;
		opacity: 0.8;
		transition: all 0.2s ease;

		&:hover {
			opacity: 1;
		}
	}
}
