extends  layout/base

block getTitle
    - var titleVar = "Create PageGroup"  

block append headScripts
    script.
        $(document).ready(function() {
            var siteDomain, domanized = '#{utils.domanize(siteDomain)}';
            if(!window.localStorage.getItem('selectedDomain')) {
                window.localStorage.setItem('selectedDomain', domanized);
                siteDomain = domanized;
            } else {
                siteDomain = window.localStorage.getItem('selectedDomain');
            }
            $('#siteDomain').html(siteDomain);

            function getDomain(url) {
                var a = document.createElement('a');
                a.href = url;
                return a.hostname;
            }

            $('#sampleUrl').on('blur', function() {
                var val = $(this).val();
                if(val && (getDomain(val) !== getDomain('#{siteDomain}'))) {
                    $('#createPg').prop('disabled', true);
                    $('#error-message').html('The Sample URL should be from your website only');   
                }
                else {
                    $('#createPg').prop('disabled', false);
                    $('#error-message').html('');   
                }
            });
        });  

block bodyContent
    include layout/sideBar
    
    .pageContainer.page-container
        include layout/header

        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner

                #widgetsArea.row
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix
                                a.pull-left Create New PageGroup - 
                                    span#siteDomain
                            form(method="post", action="createPagegroup")
                                input(type="hidden" value="#{siteId}" name="siteId")
                                .row.input-wrapper
                                    .col-sm-2
                                        label Page Group Name
                                    .col-sm-3
                                        input.form-control(required, name="pageGroupName", type="text" placeholder="Please enter Page Group Name")
                                .row.input-wrapper
                                    .col-sm-2
                                        label Sample Url
                                    .col-sm-3
                                        input.form-control#sampleUrl(required, name="sampleUrl", type="url" placeholder="Please enter Sample Url") 
                                .row.input-wrapper
                                    .col-sm-2
                                        label Device
                                    .col-sm-3
                                        .styleSelect
                                            select(required, name="device")
                                                option(value="") Select device
                                                option(value="desktop") Desktop
                                                option(value="tablet") Tablet
                                                option(value="mobile") Mobile
                                .row.input-wrapper
                                    .col-sm-4
                                        h3#error-message.error-message!= error
                                        button#createPg.btn.btn-lightBg.btn-default Create Page Group                                             
                                                                              
                                           