//- Dashboard template

extends  layout/base

block getTitle
    - var titleVar = "DashBoard"

//- Load AdPushup setup script if there is no valid site
block append headScripts

        +loadAsset("js", [
            '/assets/js/libs/third-party/d3.js',
            '/assets/js/libs/third-party/c3.js',
            '/assets/js/libs/third-party/dataTables.js',
            '/assets/js/libs/third-party/dataTablesColReorder.js',
            '/assets/js/reports/dataVisualization.js',
            '/assets/js/reports/reports.js'
        ])

        +loadAsset("css", [
            '/assets/css//third-party/c3.css',
            '/assets/css//third-party/dataTables.css'
        ])    

        script.
            $(document).on('click', '*[data-id*="switch-"]', function() {
                var siteId = $(this).attr('data-site-id');
                $.post('/user/site/'+siteId+'/updateManualMode', function(res) {
                    setTimeout(function() {
                        if(res.success) {
                            alert('Manual mode setting updated');
                        } else {
                            alert('Some error occurred!');
                        }
                    }, 500);
                });
            });

block bodyContent
    //- if isSuperUser || !requestDemo
    include layout/sideBar

    if environment === 'production'
        //- include layout/extensionDetectionAlert

    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner

                    .notification-wrapper
                    // Control v/s Adpushp Starts here
                    #widgetsArea.row
                        if !currentUser.billingInfoComplete || !currentUser.paymentInfoComplete
                            .custom-message.error-text.dashboard-text
                                h3 Important
                                hr
                                if !currentUser.billingInfoComplete
                                    | To start seeing ads, please complete billing information.
                                    | To complete click 
                                    a(href="/user/billing") here.
                                br
                                if !currentUser.paymentInfoComplete
                                    | Please complete payment information.
                                    | To complete click 
                                    a(href="/user/payment") here.
                        include layout/dashboardSites
