//- Dashboard template

extends  layout/base

block getTitle
    - var titleVar = "DashBoard"

//- Load AdPushup setup script if there is no valid site
block append headScripts

        +loadAsset("js", [
            '/assets/js/libs/third-party/d3.js',
            '/assets/js/libs/third-party/c3.js',
            '/assets/js/libs/third-party/dataTables.js',
            '/assets/js/libs/third-party/dataTablesColReorder.js',
            '/assets/js/reports/dataVisualization.js',
            '/assets/js/reports/reports.js'
        ])

        +loadAsset("css", [
            '/assets/css//third-party/c3.css',
            '/assets/css//third-party/dataTables.css'
        ])    

        script.
            $(document).on('click', '*[data-id*="switch-"]', function() {
                var trigger = $(this);
                var key = trigger.attr('data-key');
                var siteId = $(this).attr('data-site-id');
                $.post('/user/site/'+siteId+'/updateServiceMode', {siteId: siteId, key: key}, function(res) {
                    setTimeout(function() {
                        if(res.success) {
                            alert('Setting updated');
                            window.location.reload();
                        } else {
                            alert('Some error occurred!');
                        }
                    }, 500);
                });
            });

block bodyContent
    //- if isSuperUser || !requestDemo
    include layout/sideBar

    if environment === 'production'
        //- include layout/extensionDetectionAlert

    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner

                    .notification-wrapper
                    // Control v/s Adpushp Starts here
                    if isPaymentDetailsComplete == false
                        div(class="alert alert-danger alert-dismissible" style="font-size:15px" role="alert")
                            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                span(aria-hidden="true") &times;
                            strong  Please complete your Payment Profile, which is required to transfer your ad revenue.
                    div(class="alert alert-success alert-dismissible" style="font-size:15px" role="alert")
                        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
                        strong <a href="https://beta.adpushup.com/login?utm_source=console&utm_campaign=beta-test" target="_blank">Try out the new beta version of AdPushup Dashboard by click here</a>.
                    #widgetsArea.row
                        include layout/dashboardSites
