//- Dashboard template

extends  layout/base

block getTitle
    - var titleVar = "DashBoard"

//- Load AdPushup setup script if there is no valid site
block append headScripts

        +loadAsset("js", [
            '/assets/js/libs/third-party/d3.js',
            '/assets/js/libs/third-party/c3.js',
            '/assets/js/libs/third-party/dataTables.js',
            '/assets/js/libs/third-party/dataTablesColReorder.js',
            '/assets/js/reports/dataVisualization.js',
            '/assets/js/reports/reports.js'
        ])

        +loadAsset("css", [
            '/assets/css/c3.css',
            '/assets/css/dataTables.css'
        ])    

block bodyContent
    //- if isSuperUser || !requestDemo
    include layout/sideBar

    .overlay-primary.overlay-extension#extension-overlay
        .overlay-inner
            .overlay-heading
                h2 AdPushup Extension not found!
            .overlay-content
                p Please install the AdPushup extension in order to access the visual editor.
                p The extension is required to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptate perferendis voluptas, ipsum dolor laboriosam ad eius adipisci minima obcaecati.
                .text-center
                    a.btn.btn-lightBg.btn-default.over-ext-btn(href="http://adpushup.com", target="_blank") Install AdPushup Extension

    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner

                    .notification-wrapper
                    // Control v/s Adpushp Starts here
                    #widgetsArea.row
                        
                        include layout/dashboardSites

                      