extends layout/base

block getTitle
    - var titleVar = "Forgot Password"

block bodyContent
    - formData = formData || {};
    - var emailValue = (formData && formData.email) ? formData.email : null;
    - var emailError = (errors && errors.email) ? errors.email[0] : null;
    - var userNotFoundError = (userNotFound) ? "Unable to find user with given email id": null;

    main(class="aligner aligner--vCenter aligner--hCenter wrapper wrapper--page")
        div(class="LoginWrap form-container js-form-container", data-ui-component="user-forgotPassword", id="forgotPassword")
            //Header Starts Here
            div(class="LoginHead")
                div(class="LoginHead-logo")
                h3(class="form-container-heading", id="forgotPassword-heading") Forgot Password?
            //Header Ends Here

            //Form Starts Here
            form(class="form-horizontal", action="forgotPassword", method="post")
                div(class="LoginForm")
                    if (mailSent)
                        div(class="success-message top") Mail has been sent
                    else if (errors && errors.email)
                        div(class="error-message top") #{emailError}
                    else if (userNotFound)
                        div(class="error-message top") #{userNotFoundError}

                    div(class="form-group")
                        div(class="input-group")
                            span(class="input-group-addon")
                                i(class="fa fa-envelope")
                            input(type="email", id="forgotPassword-email", name="email", value=emailValue, class="form-control input-lg", placeholder="Enter your email", autocomplete="off")

                //Footer Section Starts Here
                div(class="LoginFooter row")
                    div(class="col-xs-6")
                        button(type="submit", id="forgotPassword-submit", class="btn btn-lg btn-default btn-lightBg") Reset Password
                    div(class="col-xs-6")
                        a(href="/user/login", id="forgotPassword-login-redirect-link", type="submit", class="btn btn-lg btn-default btn-lightBg") Or, Go Back

