//- Interactive ads demo view

extends layout/base

block getTitle
    - var titleVar = 'AdPushup Interactive Ads Demo'

block headCss
    link(href="http://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic&subset=latin,latin-ext", rel='stylesheet', type='text/css')

block append headScripts

block bodyContent
    
   
