//- Ops panel interface

extends layout/base

block getTitle
	- var titleVar = "Ops Panel"	

block append headScripts
	script.
		window.siteId = #{siteId}

block append headCss
	link(rel="stylesheet" href="/assets/css/third-party/codemirror.min.css")
	link(rel="stylesheet" href="/assets/css/third-party/solarized.min.css")

block bodyContent
	include layout/sideBar
	.pageContainer.page-container
		include layout/header
		.pageContentWrapper.page-content
			.pageContentInner.page-content--inner
				#opsPanel

	script(src="/assets/js/builds/opsPanel.js")
