extends  layout/base

block getTitle
	- title = title || "";
	- var titleVar = title

block bodyContent
	- loaderText = loaderText || "";
	- pageUrl = pageUrl || "/";

	div(class="loaderwrapper loaderwrapper--fixed spinner")
		img(src="/assets/images/loaderLogo.png")
		div(class="loaderwrapper-text") #{loaderText}

	script(type="text/javascript").
		$.get("#{pageUrl}", function(data) {
			var newDoc = document.open("text/html", "replace");
			newDoc.write(data);
			newDoc.close();
		});