extends layout/base

block getTitle
    - var titleVar = "PageGroups"

block bodyContent

    include layout/sideBar

    .pageContainer.page-container
        include layout/header

        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner

                #widgetsArea.row
                    include layout/pageGroupsTable