extends layout/base

block getTitle
	- var titleVar = "Payment - AdPushup"

block append headScripts
	script(src="https://embed.typeform.com/embed.js")

block bodyContent
	include layout/sideBar

	.pageContainer
		include layout/header
		// Page Content Starts Here
		.pageContentWrapper
			.pageContentInner
				// Control v/s Adpushup Starts here
				.controlAdpushupWrap.col-sm-12.mb-30.pd-20
					div(id="typeform-adpushup", style="height: 600px;")

	script.
		var cb = function() {
			$.post('/completeInfo', {
				email: currentUser.email, 
				key: 'paymentInfoComplete'
			}, function(res) {
				var url = 'http://' + window.location.host + '/user/dashboard';
				window.location.replace(url);
			});
		};
		typeformEmbed.makeWidget(document.getElementById('typeform-adpushup'), 'https://adpushup1.typeform.com/to/QGSJeq', {onSubmit: cb})