extends  layout/base

block getTitle
    - var titleVar = "Settings | RegEx Verfier"

block append headScripts
    +loadAsset("js", [
        '/assets/js/libs/custom/pagegroup-regex-verfier.js',
    ])

block append headCss
    style.
        .mg-b-10 {
            margin-bottom: 10px !important;
        }
        .mg-t-10 {
            margin-top: 10px !important;
        }
        .success {
            color: #4BB543;
        }
        .border-success {
            border-color: #4BB543;
        }
        .failure {
            color: #ff0000;
        }
        .border-failure {
            border-color: #ff0000;
        }
        .no-border {
            border: 0 !important;
        }

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper

                #widgetsArea.row
                    .mb-30.col-md-8(style="margin: 0 auto; float: none;")
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix 
                                a RegEx Verfication - #{utils.domanize(siteDomain)}
                            .settings-pane
                                .row
                                    .col-sm-12
                                        if !pageGroups.length
                                            | No Pagegroups found!
                                        else
                                            .row
                                                .col-sm-12
                                                    h4 Pagegroup patterns
                                        for p in pageGroups
                                            .row.single-pagegroup-box
                                                .col-sm-4
                                                    .input-name!= p.pageGroup
                                                    input.form-control.pagegroup-pattern.mg-t-10.mg-b-10(value=utils.getPageGroupPattern(p.pageGroup, patterns), name="pageGroupPattern", type="text", placeholder="Enter pagegroup pattern")
                                                    .error-box
                                                .col-sm-8.pagegroup-col
                                                    .input-group.mg-b-10
                                                        input.form-control.pg-url(type="text", placeholder="Enter url")
                                                        .input-group-btn
                                                            span.invisible
                                                                button.btn.btn-default.no-border.verify-pagegroup-pattern-btn(type="button")
                                                                    i(class="fa fa-check")
                                                    .input-group.mg-b-10
                                                        input.form-control.pg-url(type="text", placeholder="Enter url")
                                                        .input-group-btn
                                                            span.invisible
                                                                button.btn.btn-default.no-border.verify-pagegroup-pattern-btn(type="button")
                                                                    i(class="fa fa-check")
                                                    .input-group.mg-b-10
                                                        input.form-control.pg-url(type="text", placeholder="Enter url")
                                                        .input-group-btn
                                                            span.invisible
                                                                button.btn.btn-default.no-border.verify-pagegroup-pattern-btn(type="button")
                                                                    i(class="fa fa-check")
                                                    .input-group.mg-b-10
                                                        input.form-control.pg-url(type="text", placeholder="Enter url")
                                                        .input-group-btn
                                                            span.invisible
                                                                button.btn.btn-default.verify-pagegroup-pattern-btn.no-border(type="button")
                                                                    i(class="fa fa-check")
                                            hr

                                .row.settings-btn-pane
                                    .col-sm-3
                                        button.btn-primary.pg-verify-btn Verify

                div(style="clear:both;")