extends  layout/base

block getTitle
	- var titleVar = "Settings | RegEx Generator"

block append headScripts
	+loadAsset("js", [
		'/assets/js/libs/custom/pagegroup-regex-editor.js',
	])
	script.
		$(document).ready(function() {
			window.siteId = !{siteId};
		});

block append headCss
	style.
		.mg-b-10 {
			margin-bottom: 10px !important;
		}
		.mg-t-10 {
			margin-top: 10px !important;
		}
		.instructions-box {
			padding: 10px;
			border: 1px solid #000;
		}
		.instructions-box h5 {
			font-size: 16px;
			font-weight: bold;
		}
		.instructions-box ul li {
			font-size: 14px;
		}
		pre code {
			text-align: left;
		}
		pre code p {
			margin: 0 !important;
			padding 0;
			display: inline;
			float: left;
		}
		.regex-generator-form h3, .additional-info h3  {
			font-size: 20px !important;
			margin: 15px 0px;
			padding: 10px 0px;
			border-bottom: 1px solid #ebebeb;
		}
		#output-box {
			display: none;
			clear: both;
			margin: 20px 0px;
		}
		.additional-info {
			padding: 10px 0px;
		}
		.matched-urls {
			color: #4BB543;
		}
		.not-matched-urls, .error-text {
			color: #eb575c;
		}
		.error-text {
			font-weight: bold;
		}

block bodyContent
	include layout/sideBar
	.pageContainer.page-container
		include layout/header
		// Page Content Starts Here
		.pageContentWrapper.page-content
			.pageContentInner.page-content--inner
				.notification-wrapper

				#widgetsArea.row
					.mb-30.col-md-8(style="margin: 0 auto; float: none;")
						.controlAdpushupWrap
							h3.title.m-All-0.clearfix 
								a Regex Generator Helper Tool
							.settings-pane
									.row
										.col-sm-12
											.instructions-box.mg-b-10
												h5.mg-b-10 General Instructions
												ul
													li Urls must contain www or relevant subdomain as in enter complete url
													li All urls must be of same pagegroup
													li This tool is to assist you and it will not cover all usecases. Human intervention still might be required at times.
											form.regex-generator-form(method="post", action="regexGenerator")
												h3 Urls you want to match
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-match")
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-match")
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-match")
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-match")
												hr
												h3 Urls you do not want to match (Optional)
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-not-match")
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-not-match")
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-not-match")
												input.form-control.pg-url.mg-b-10(type="text", placeholder="Enter url", name="url", class="to-not-match")
												hr
												.col-sm-3(style="padding: 0px;")
													input.form-control.btn-primary(type="submit", value="Generate Expression")
												div(style="clear:both;")

											#output-box
												pre

				div(style="clear:both;")