extends  layout/base

block getTitle
    - var titleVar = "Settings"

block append headScripts
    +loadAsset("js", [
        '/assets/js/libs/custom/settings.js',
    ])    

block bodyContent
    include layout/sideBar
    .pageContainer.page-container
        include layout/header
        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner
                .notification-wrapper
                #widgetsArea.row
                    .mb-30
                        .controlAdpushupWrap
                            h3.title.m-All-0.clearfix 
                                a Site settings - #{utils.domanize(siteDomain)}
                            form#saveSiteSettings.settings-pane
                                .row
                                    .col-sm-6
                                        if !pageGroups.length
                                            | No Pagegroups found!
                                        else
                                            .row
                                                .col-sm-12
                                                    h4 Pagegroup pattern
                                        for p in pageGroups
                                            .row
                                                .col-sm-3
                                                    .input-name!= p.pageGroup
                                                    input(type="hidden" name="pageGroupPattern" value=p.pageGroup)
                                                .col-sm-7
                                                    input.form-control(value=utils.getPageGroupPattern(p.pageGroup, patterns) name="pageGroupPattern" type="text" placeholder="Enter pagegroup pattern")
                                hr
                                .row
                                    .col-sm-3
                                        button.btn-primary Save Settings
                                

