//- Tag Manager interface

extends layout/base

block getTitle
	- var titleVar = "Tag Manager"	

block append headScripts
	- siteId = siteId ? siteId : false
	script.
		window.siteId = !{siteId}

block append headCss

block bodyContent
	include layout/sideBar
	.pageContainer.page-container
		include layout/header
		.pageContentWrapper.page-content
			.pageContentInner.page-content--inner
				.loaderwrapper.spinner
					img(src="/assets/images/loaderLogo.png")
				#tagManagerPanel

	script(src="/assets/js/builds/tagManager.js")
