.ReactCodeMirror {
	border-right: 1px solid $dashboardBgColor;
}

.adDetails-icon {
	float: right;
	.btn-icn-edit {
		color: $dimFontColor;
		&:hover {
			color: $primaryColorDark;
		}
	}
}

.containerButtonBar {
	padding-bottom: 120px;
	position: relative;
	input[type='number'] {
		width: 60px;
	}
	.adsDescriptor {
		.row {
			margin: 0;
			padding: 7px 0;
			font-size: 12px;
			&:hover {
				background: $RowHoverBg;
			}
		}
	}
	// .adDetails-icon {
	// 	float: right;
	// 	.btn-icn-edit {
	// 		color: $dimFontColor;
	// 		&:hover {
	// 			color: $primaryColorDark;
	// 		}
	// 	}
	// }
	.networkOptionsRow {
		width: 90%;
		margin: 0px auto;
		display: block;
		z-index: 10;
	}
	.butttonsRow {
		padding: $ESPadding 0 !important;
		background: $ESBg;
		position: absolute;
		bottom: 0;
		z-index: 3;
		width: 100%;
		border: 1px solid $MBButtonRowBorder;
		border-radius: 0 0 3px 3px;
	}
	&.contextEditMenu {
		.row {
			margin: 0;
			padding: 7px 0;
			font-size: 12px;
			i {
				color: $primaryColor;
				cursor: pointer;
			}
		}
	}
	&.sectionOptions {
		padding-bottom: 200px;
	}
}

.sm-pad {
	.row {
		margin: 0;
		padding: 5px 0;
	}
}

.MenuBarComponentWrap.TopRight {
	.MenuBarContainerWrapper {
		float: right;
		.MenuBarContainer {
			padding: 10px 5px 10px 10px;
			.containerButtonBar {
				.butttonsRow {
					margin: 0 0 0 -10px;
				}
			}
		}
	}
	.ContentExtWrap {
		float: right;
	}
}

.panelBySizeContainer {
	.panel-group {
		overflow: hidden;
		.panelBySize {
			max-height: 195px;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
}

#ad-details {
	.btn-icn-edit {
		float: right !important;
		color: $dimFontColor;
		&:hover {
			color: $primaryColorDark;
		}
	}
}
