.blockListInput {
	width: 88% !important;
	border: 1px solid #e6e6e6;
}

.blockListDelete {
	width: auto !important;
	line-height: inherit;
	font-size: 1.2em;
}
.selectorInput {
	width: 78% !important;
	border: 1px solid #e6e6e6;
}

.selectorDelete {
	width: auto !important;
	line-height: inherit;
	font-size: 1.2em;
}
.adContainerStyle {
	background: #f9f9f9;
	padding: 20px 10px 10px;
	margin: 10px;
	border-radius: 4px;
	border: 1px solid #e9e9e9;
	position: relative;
}

.deleteAdBtnStyle {
	position: absolute;
	right: -8px;
	top: -8px;
	cursor: pointer;
}

textarea {
	resize: auto;
	overflow: auto;
}

.textCenter {
	text-align: center;
}

.header {
	margin-bottom: 10px;
	font-weight: 700;
}

.marginBottom {
	margin-bottom: 5px;
}

.rowMargin {
	margin-bottom: 10px !important;
}

.addButton {
	width: 50% !important;
	float: right;
}

.h4FontSize {
	font-size: 16px;
}

.mediumFontSize {
	font-size: 15px;
}

.no-border {
	border: none;
}

#channelMenu .MenuBarInner {
	overflow-y: inherit !important;
	overflow-x: inherit !important;
}

.reConversionInput {
	width: 20% !important;
	border: 1px solid #e9e9e9;
	height: 37px;
	float: right;
}
