.json-text {
	height: 200px;
}
.report-table {
	margin: 20px;
	font-size: 1.2em;
	border: 1px solid $borderColor;

	.col-md-4 {
		padding: 20px 20px;

		&:nth-child(2) {
			text-align: center;
		}
	}
	.col-xs-12:nth-of-type(4) {
		padding: 0px;
	}

	input[id='select-filter-reportTable'] {
		padding: 16px;
		font-size: 1em;
	}
	thead {
		background-color: $borderColor;
		border-top: 2px solid $borderColor;
	}
	.tag {
		font-size: 12px !important;
		font-weight: bold;
	}
}
.report-table .tbody-td-default,
.report-table .thead-th-default {
	width: 100%;
	max-width: 250px;
	word-wrap: break-word;
}
.onboarded,
.live {
	background-color: $GreenColor !important;
}
.pre-onboarding,
.draft {
	background-color: $primaryRed !important;
}
.channels,
.onboarding {
	background-color: $lightBlue !important;
}

.ap-nav-pills a {
	color: $primaryRed;
}

.ap-nav-pills > li.active > a,
.ap-nav-pills > li.active > a:focus,
.ap-nav-pills > li.active > a:hover {
	color: $whiteColor !important;
	background-color: $primaryRed !important;
	font-weight: bold;
}

.custom-table th,
.custom-table tr {
	min-width: 150px !important;
	word-break: break-word !important;
}

.regex-url-wrapper {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.regex-url-wrapper > div {
	flex-grow: 1;
}
.regex-url-wrapper svg {
	font-size: 20px;
}
.pagegroup-row:nth-last-of-type(1) {
	margin-bottom: 10px !important;
}

.site-stats .filterbox {
	z-index: 3 !important;
}
.app-panel-title {
	display: inline;
}
.app-link {
	float: right;
}

.records-info {
	font-size: large;
	opacity: 0.7;
}

.ReactTable {
	.rt-tbody {
		overflow: visible !important;
		.rt-tr {
			.rt-td {
				position: relative;
				.site-mapping-copy {
					display: none;
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					z-index: 5;
				}
			}
			&:hover {
				.site-mapping-copy {
					display: inline-block !important;
				}
			}
		}
	}
}

.refresh-rate {
	.custom-select-box-wrapper {
		width: 20%;
		margin-left: auto;
	}
}

.adUnit-modal {
	.ReactTable {
		height: 400px;
		.rt-thead {
			overflow-y: scroll;
		}
	}
	.modal-dialog {
		width: 50%;
	}
}

.beforeJs {
	textarea {
		height: 50%;
	}
}

.showUniqueImpressionsReporting {
	.col-xs-8 {
		margin-top: 1rem;
		b {
			margin-left: 1rem;
		}
	}
	.col-xs-4 {
		.toggleSwitch {
			margin-right: 1rem;
		}

		input[type='checkbox']:checked ~ label .toggleSwitch {
			background-color: $GreenColor;
		}
	}
	.form-group {
		margin-left: 1rem;
		input {
			margin-top: 0.5rem;
			width: 99%;
		}
		label {
			margin-top: 1rem;
		}
	}
}

/* Size Mapping */
.size-mapping {
	margin-top: 1rem;

	.size-mapping-table {
		margin-top: 2.5rem;
		margin-bottom: 1rem;

		.ReactTable {
			padding: 0 !important;

			// Table header overlays the adUnit dropdown
			.rt-thead {
				z-index: 0;
				font-size: 14px;
			}

			.rt-th {
				padding: 1rem;
				white-space: normal;
			}

			.rt-td {
				white-space: normal;
				padding: 0.5rem 1rem;
				&:first-child {
					padding: 1rem;
					font-size: 16px;
				}
			}
		}

		// hide table records count
		.records-info {
			display: none;
		}

		.input-number {
			padding: 0.5rem;
			// width: ;
		}

		.rt-noData {
			display: none !important;
		}

		.no-rules-message {
			text-align: center;
			padding: 1.5rem;
			border: 1px solid rgba(0, 0, 0, 0.1);
			margin: 0;
			color: $greyColor;
			font-size: 14px;
		}
	}

	.select-options-group {
		color: $primaryRed;
		font-weight: bolder;
		font-size: 1.1rem;
		border-bottom: 2px solid $primaryRed;
		padding-bottom: 0.5rem;
		display: flex;
		align-items: center;

		.name {
			font-size: 1.2rem;
		}

		.count {
			background-color: $primaryRed;
			border-radius: 2em;
			color: $whiteColor;
			display: inline-block;
			font-size: 11;
			font-weight: bolder;
			line-height: 1;
			min-width: 1;
			padding: 0.16666666666667em 0.5em;
			text-align: center;
			margin: 0 1rem;
		}
	}

	.downward-size-info {
		margin: 0;
		font-size: 14px;
		padding: 1rem 0;
	}

	.action-buttons {
		padding: 1rem;
		button {
			margin: 0 0.5rem;
		}
	}

	.actions-delete {
		padding: 0.5rem 1rem;
	}

	.controls {
		font-size: 14px;
		label {
			width: 20%;
			display: inline-block;
		}

		.sizemapping-adunit-select {
			width: 80%;
			display: inline-block;
		}
	}

	.select-adunit-error {
		color: rgba(0, 0, 0, 0.5);
		background-color: #f5f5f5;
		p {
			margin: 0;
		}
	}
}

.hb-rules {
	.page__header {
		display: flex;

		.page__title {
			flex: 1;
		}

		button {
			align-self: flex-start;
		}
	}

	.empty-state {
		font-size: 1.5rem;
		color: rgba(0, 0, 0, 0.4);
	}

	.list-component {
		.rules-list-table {
			th {
				text-align: center;
			}

			td {
				&:nth-of-type(1) {
					width: 5%;
					text-align: center;
					vertical-align: middle;
				}
				&:nth-of-type(2) {
					width: 10%;
					text-align: center;
					vertical-align: middle;
				}
				&:nth-of-type(3) {
					padding: 1rem;
					width: 60%;
				}
				&:nth-of-type(4) {
					text-align: center;
					vertical-align: middle;
					width: 10%;
				}
				&:nth-of-type(5) {
					text-align: center;
					vertical-align: middle;
					width: 5%;
				}
				&:nth-of-type(6) {
					text-align: center;
					vertical-align: middle;
					width: 5%;
				}

				&.enabled {
					color: $successGreen;
				}
				&.disabled {
					color: $primaryColor;
				}
			}

			.toggle {
				width: 100px;
			}

			.triggers-section,
			.actions-section {
				padding: 0 1rem 1rem;
				background-color: $borderColor;
			}

			.triggers-section {
				margin-bottom: 1rem;
			}

			.section-heading {
				padding: 1rem;
				text-transform: uppercase;
				text-align: center;
				font-size: 1.5rem;
				font-weight: 800;
				color: rgba(0, 0, 0, 0.6);
				border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			}

			.trigger-content,
			.action-content {
				font-size: 1.5rem;
				display: flex;
				margin: 0.75rem 0;

				.serial {
					width: 1%;
					margin: 0 1rem 0 0.5rem;
				}

				.key-content {
					min-width: 25%;
					white-space: nowrap;
				}

				.operator-content {
					min-width: 10%;
					white-space: nowrap;
				}

				.content-item {
					display: flex;
					margin: 0 0.75rem;
					flex-wrap: wrap;
					align-self: flex-start;
					align-items: center;
				}
			}
		}

		& > .control {
			display: flex;
		}
	}

	.divider {
		width: 100%;
		height: 2px;
		background-color: $borderColor;
		margin: 1.5rem 0 3rem;
	}

	.dropdown,
	.number,
	.toggle {
		margin-left: 1rem;
		display: inline-block;
		max-width: 250px;
		width: 100%;
	}

	.number {
		max-width: 300px;
	}

	.rule__header {
		display: flex;
		border-bottom: 1.5px solid $primaryColor;
		justify-content: space-between;
		align-items: center;

		.rule__title {
			margin-top: 0;
			margin: 1rem 0;
		}
	}

	.rule__content {
		padding-top: 2rem;

		.status-container {
			// max-width: 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			h3 {
				margin: 1rem;
				font-size: 2rem;
			}

			& > div {
				margin-right: 100px;
			}
		}

		.description-container {
			justify-content: space-between;
			align-items: center;

			h3 {
				margin: 1rem;
				font-size: 2rem;
			}

			& > div {
				margin-right: 100px;
			}

			textarea {
				width: 100%;
				border-color: #d5d5d5;
				border-bottom-width: 3px;
				border-bottom-color: #e6e6e6;
			}

			textarea:focus {
				border: #d5d5d5;
				outline-color: #d5d5d5;
			}
		}

		.triggers-container,
		.actions-container {
			.col-1 {
				display: inline-block;
				padding: 1rem 2rem;
				min-width: 80px;
			}

			.col-2 {
				flex: 1;
			}
		}

		.container-header {
			// display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 2rem;

			.container-title {
				padding: 1rem;
				font-size: 2rem;
				background: white;
				margin: 0;
				border-bottom: 2px solid $borderColor;
			}
		}

		.container-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2rem 0 1rem;
			margin-bottom: 1rem 0 2rem;
		}

		.triggers-container {
			.trigger {
				display: flex;
				flex-wrap: wrap;
				align-items: start;
				padding: 1.5rem 0;

				&:nth-of-type(even) {
					background-color: rgba(0, 0, 0, 0.03);
				}

				// &.error {
				// 	border: 2px solid $primaryColor;
				// }

				.error-message {
					text-align: center;
				}

				.value-dropdown {
					max-width: 100%;
				}

				.content {
					// flex: 1;
					display: flex;
					flex-wrap: wrap;
					padding: 0 1rem;

					.dropdown {
						flex: 1;

						&.dropdown--full-width {
							flex: 0 0 100%;
							min-width: 100%;
							margin: 1rem;
						}
					}
				}

				.button {
					margin: 0 1rem;
				}
			}

			.remove-trigger {
				margin: 0 1rem;
			}
		}

		.actions-container {
			.action {
				display: flex;
				flex-wrap: wrap;
				align-items: start;
				padding: 1.5rem 0;

				&:nth-of-type(even) {
					background-color: rgba(0, 0, 0, 0.03);
				}

				.button {
					margin: 0 1rem;
				}

				.ignored-message {
					flex-basis: 100%;
					text-align: center;
					margin: 2rem 0 1rem;
					color: $primaryColor;
					font-size: 1.4rem;
				}

				.content {
					// flex: 1;
					display: flex;
					flex-wrap: wrap;
					// justify-content: center;
					// align-items: center;

					&.error {
						border: 2px solid $primaryColor;
					}

					& > .dropdown,
					& > .number,
					& > .toggle {
						flex: 1;
					}

					& > .toggle {
						display: flex;
						align-items: center;

						& > div {
							flex: 1;

							& > .form-group {
								margin: 0;
							}
						}
					}

					.number {
						&.error {
							input {
								border-color: red;
							}
						}
					}

					.label {
						display: block;
						margin: 0;
						padding-top: 0.5rem;
						color: $dimFontColor;
					}

					.error-message {
						// margin-left: 1rem;
						// flex: 0 0 100%;
						text-align: center;
					}

					.dropdown--full-width {
						flex: 1;
						max-width: 100%;
					}

					.drag-drop {
						flex: 0 0 100%;
						padding: 0 1.5rem 1.5rem;
						margin: 1rem 0 0 1rem;
						display: grid;
						grid-gap: 0.5rem;
						grid-auto-rows: 1fr;
						justify-content: center;
						grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

						.message {
							font-size: 1.4rem;
							color: $dimFontColor;
							text-align: center;
							margin: 0;
							grid-column: 1/ -1;
							padding: 1rem 0;
						}

						.draggable-card {
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 0.5rem 1rem;
							border-radius: 0.3rem;
							background-color: $primaryColor;
							color: #fff;
							border: 1px solid rgba(0, 0, 0, 0.2);
							cursor: move;

							.order {
								font-weight: bold;
								background: white;
								border-radius: 50%;
								width: 22px;
								height: 22px;
								text-align: center;
								display: inline-block;
								color: #eb575c;
							}

							.bidder {
								flex: 1;
								text-align: center;
							}

							&.dragging {
								border: 1px dashed gray;
								opacity: 0.5;
							}
						}
					}
				}
			}

			.remove-action {
				margin: 0 1rem;
			}
		}

		.control {
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;

			.btn {
				margin: 0 1rem;
			}
		}
	}
}

.peer-performance-select {
	margin-left: 0.6em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: '100%';
	margin-bottom: 20px;
	h1 {
		font-size: 16px;
		margin: 0;
		font-weight: 700;
		margin-right: 5%;
		padding: '0';
	}
	.rmsc {
		width: 60%;
		.dropdown-content {
			height: 150px !important;
			top: initial;
			bottom: 275%;
		}
		.peer-performance-select-option {
			padding: 0px !important;
			margin: 0px !important;
			font-size: 10px;
			color: red;
		}
		.options {
			height: 160px;
		}
	}
}
