.json-text {
	height: 200px;
}
.report-table {
	margin: 20px;
	font-size: 1.2em;
	border: 1px solid $borderColor;

	.table-datatable {
		// table-layout: fixed !important;
	}

	.col-md-4 {
		padding: 20px 20px;

		&:nth-child(2) {
			text-align: center;
		}
	}
	.col-xs-12:nth-of-type(4) {
		padding: 0px;
	}

	input[id='select-filter-reportTable'] {
		padding: 16px;
		font-size: 1em;
	}
	thead {
		background-color: $borderColor;
		border-top: 2px solid $borderColor;
	}
	.tag {
		font-size: 12px !important;
		font-weight: bold;
	}
}
.report-table .tbody-td-default,
.report-table .thead-th-default {
	width: 100%;
	max-width: 250px;
	word-wrap: break-word;
}
.onboarded,
.live {
	background-color: $GreenColor !important;
}
.pre-onboarding,
.draft {
	background-color: $primaryRed !important;
}
.channels,
.onboarding {
	background-color: $lightBlue !important;
}

.ap-nav-pills a {
	color: $primaryRed;
}

.ap-nav-pills > li.active > a,
.ap-nav-pills > li.active > a:focus,
.ap-nav-pills > li.active > a:hover {
	color: $whiteColor !important;
	background-color: $primaryRed !important;
	font-weight: bold;
}

.custom-table th,
.custom-table tr {
	min-width: 150px !important;
	word-break: break-word !important;
}

.regex-url-wrapper {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.regex-url-wrapper > div {
	flex-grow: 1;
}
.regex-url-wrapper svg {
	font-size: 20px;
}
.pagegroup-row:nth-last-of-type(1) {
	margin-bottom: 10px !important;
}

.site-mapping .rt-resizable-header-content {
	float: left;
}

.ReactTable {
	.rt-thead .rt-th {
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: right 4px center;
		font-weight: bolder;
	}
	.rt-tbody {
		.rt-tr {
			.rt-td {
				position: relative;
				.site-mapping-copy {
					display: none;
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
					z-index: 5;
				}
			}
			&:hover {
				.site-mapping-copy {
					display: inline-block !important;
				}
			}
		}
	}
}
.ReactTable .rt-thead .rt-th.-sort-asc {
	background-image: url('../../../../public/assets/images/sort-up-icon.jpg');
}
.ReactTable .rt-thead .rt-th.-sort-desc {
	background-image: url('../../../../public/assets/images/sort-arrow-down.png');
}
.site-mapping .rt-thead {
	position: sticky;
	top: 0;
	z-index: 2;
	background: white;
}
.site-mapping .rt-tbody {
	overflow: visible !important;
}

.site-stats .filterbox {
	z-index: 3 !important;
}
.app-panel-title {
	display: inline;
}
.app-link {
	float: right;
}

.records-info {
	font-size: large;
	opacity: 0.7;
}

.ReactTable .-pagination .-btn {
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.18);
}
