@import 'header';
@import 'sidebar';

.container-fluid {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.sidebar-main-wrap {
		display: flex;
		.main-content {
			height: calc(100% - 55px);
			flex-grow: 1;
			background: #eee;
			padding: 30px;
			overflow-y: auto;
		}
	}
}
