.estimatedEarningPreviousText {
	color: $lightBlue;
}

.estimatedEarningLastText {
	color: $darkBlue;
}
.estimatedEarning {
	font-size: 3rem;
}

.textBold {
	font-weight: $textBold;
}

.textGreen {
	color: $GreenColor;
}
.textRed {
	color: $primaryRed;
}

.width-100 {
	width: 100% !important;
}

.width-50 {
	width: 50% !important;
}

.width-70 {
	width: 70% !important;
}
.width-90 {
	width: 90% !important;
}

.width-30 {
	width: 30% !important;
}

.card-color {
	color: #fff;
	background: #eb575c;
}
.card-color .panel-heading {
	color: #fff !important;
	background: #eb575c !important;
	border: #eb575c !important;
	.card-header-title {
		color: #fff;
	}
}

.card-color .panel-footer {
	color: #fff !important;
	background: #eb575c !important;
	border-top: #eb575c !important;
}

.display-inline {
	display: inline-block;
	width: auto;
}

.float-right {
	float: right;
}
.u-margin-lr-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.font-small {
	font-size: 14px;
}

.onboarding-step > .counter-icon {
	display: none !important;
}

.DateRangePicker {
	display: block;

	.DateRangePickerInput {
		// background-color: lighten($linkBlue, 37%);
		display: block;
		// border: 2px solid $linkBlue;
		border-radius: 3px;
		position: relative;

		.DateRangePickerInput_calendarIcon,
		.DateRangePickerInput_clearDates {
			width: auto;
			padding: 0 8px;

			&:hover {
				background: none;
			}
		}
		.DateRangePickerInput_clearDates {
			position: absolute;
			right: 0;
			top: 10px;
		}

		.DateInput {
			padding: 0;
			text-align: center;
			font-size: 14px !important;
			width: auto;
			font-family: 'Karla', sans-serif;
			// background-color: lighten($linkBlue, 37%);

			input {
				cursor: pointer;
			}
		}
	}

	.DayPickerNavigation_button__default {
		width: 50px;
	}
}

.DateRangePicker_picker {
	z-index: 1000;
	top: 45px !important;
}

.DateInput__openDown_3.DateInput__openDown_3.DateInput__openDown_3:after {
	top: 36px;
}

.DateInput__openDown_3.DateInput__openDown_3.DateInput__openDown_3:before {
	top: 35px;
}

.DateInput_displayText__focused_3.DateInput_displayText__focused_3.DateInput_displayText__focused_3,
.DateInput_displayText__focused_2.DateInput_displayText__focused_2 {
	color: #fff;
	border-radius: 0;
	background-color: lighten($linkBlue, 7%);
	border-color: lighten($linkBlue, 7%);
}

.CalendarDay__hovered_span.CalendarDay__hovered_span_2 {
	&,
	&:hover {
		background-color: lighten($linkBlue, 7%);
		color: #fff;
		border-color: lighten($linkBlue, 7%);
	}
}

.CalendarDay__selected_span_2.CalendarDay__selected_span_2,
.CalendarDay__selected_span_3.CalendarDay__selected_span_3.CalendarDay__selected_span_3,
.CalendarDay__selected_4.CalendarDay__selected_4.CalendarDay__selected_4.CalendarDay__selected_4 {
	background-color: lighten($linkBlue, 7%);
	border-color: lighten($linkBlue, 7%);

	&:hover {
		background-color: lighten($linkBlue, 10%);
		border-color: lighten($linkBlue, 10%);
	}
}

.CalendarDay__selected_2.CalendarDay__selected_2,
.CalendarDay__selected_3.CalendarDay__selected_3.CalendarDay__selected_3,
.CalendarDay__hovered_span.CalendarDay__hovered_span_3.CalendarDay__selected.CalendarDay__selected_4 {
	&,
	&:hover {
		background-color: $linkBlue;
		border-color: $linkBlue;
	}
}
