.estimatedEarningPreviousText {
	color: $lightBlue;
}

.estimatedEarningLastText {
	color: $darkBlue;
}
.estimatedEarning {
	font-size: 3rem;
}

.textBold {
	font-weight: $textBold;
}

.textGreen {
	color: $GreenColor;
}
.textRed {
	color: $primaryRed;
}

.width-100 {
	width: 100%;
}

.width-50 {
	width: 50%;
}

.width-70 {
	width: 70%;
}

.width-30 {
	width: 30%;
}

.card-color {
	color: #fff;
	background: #eb575c;
}

.display-inline {
	display: inline-block;
	width: auto;
}
