html,
body {
	overflow-x: hidden;
}

#reports_control {
	.navbar-default {
		border: 0;
		background: transparent;
		min-height: 35px;
		ul {
			li {
				margin-right: 15px;
				&.datefields {
					width: 155px;
					span.input-group-btn {
						button {
							background: transparent;
							color: $fontColor;
							@include opacity(1);
							padding-left: 0;
						}
					}
					input {
						@include border-radius($BorderRadius);
					}
				}
				&.siteDomain {
					.styleSelect {
						width: 150px;
						height: 30px;
						@include border-radius(3px);
						overflow: hidden;
						background: url(../../images/select-arrow.png) no-repeat 130px #fff;
						border: 1px solid #e6e6e6;
						select {
							background: transparent;
							width: 150px;
							padding: 0 25px 0 5px;
							font-size: 13px;
							border: 0;
							border-radius: 0;
							height: 30px;
							-webkit-appearance: none;
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	input {
		width: 113px;
	}
}
.controlAdpushupWrap {
	background: $CVABgColor;
	border: 1px solid $borderColor;
	position: relative;
	@include shadow;
	.title {
		color: $primaryColor;
		font-size: $CVATitleSize;
		padding: 14px 20px;
		border-bottom: 1px solid $borderColor;
		.btn-group-option.open {
			.btn-lightBg {
				background: $whiteColor;
				color: $primaryColor;
				box-shadow: none;
			}
		}
	}
	.ap-buttongroup {
		position: absolute;
		right: 30px;
		top: 14px;
		button {
			background: transparent;
			border: 1px solid $borderColor !important;
			color: $fontColor;
			font-size: 13px;
			@include border-radius(3px);
			&:hover {
				color: $primaryColor;
			}
			&:active,
			&.active {
				color: $primaryColor;
				box-shadow: none;
			}
		}
	}
	.weekly-report {
		background: $CVAGraphBgColor;
		padding: 10px 0 35px 0;
		border-bottom: 1px solid $borderColor;
		position: relative;
		.loaderwrapper {
			background-color: rgba(0, 0, 0, 0.08);
			z-index: 1039;
		}
	}
	.weekly-report-wrapper {
		border-bottom: 0;
		padding-top: 20px;
		padding-bottom: 0;
	}
	.row {
		position: relative;
		.vs {
			position: absolute;
			background: $primaryColor;
			color: $whiteColor;
			height: 60px;
			width: 60px;
			@include border-radius(50%);
			left: 50%;
			border: 5px solid $whiteColor;
			margin-left: -30px;
			z-index: 4;
			text-align: center;
			font-size: 30px;
			top: 20px;
			padding-top: 2px;
		}
		.ConAdpCol {
			padding: 20px 30px !important;
			&.ConAdpColleft {
				border-right: 1px solid $borderColor;
			}
			.heading {
				display: inline-block;
				width: 100%;
				text-align: center;
				border-bottom: 1px solid $borderColor;
				h4 {
					margin-bottom: 10px;
				}
			}
			.colContAdpush {
				font-size: $CVAColContHead;
				text-align: center;
			}
		}
	}
	&.col-xs-6 {
		.weekly-report {
			padding: 0 0 25px 0;
			position: relative;
		}
	}
}

.weekly-report-wrapper {
	position: relative;

	.metrics-wrapper {
		padding: 0;
	}

	.count-ratio {
		margin-left: 5px;
	}

	.report-legend {
		margin-top: 25px;
		padding: 15px;
		background-color: $whiteColor;
		border-top: 1px solid $borderColor;

		.report-label {
			width: 12px;
			height: 12px;
			display: inline-block;
			vertical-align: middle;
		}

		.report-label-text {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.2em;
		}

		.report-date {
			display: inline-block;
			color: darken($fontColor, 10%);
		}
	}

	.report-mertic {
		font-weight: 400;
		font-size: 1.2em;
		text-transform: uppercase;

		.fa {
			margin-left: 5px;
		}
	}

	.metric-count {
		font-size: 1.8em;
	}

	.su-metrics {
		margin-top: 30px;
		border-top: 1px solid $borderColor;
		padding: 20px 0;
		margin: 0 -15px;
		position: relative;
		top: 20px;
	}
}

.btn-dd-menu {
	left: -125px;
}
