/*Login Page ($LP)*/
$LPBg: #fff;
$LPBorderRadius: 5px;
$LPHeadPadding: 20px 25px;
$LPFormColor: #89949b;
$LPFormInputHeight: 50px;
$LPFormIconSize: 18px;
$LPFormInputSize: 16px;
$LPFormBorderColor: #ddd;
$LPFormBorderFocusColor: #ccc;
$LPFormButtonSize: 12px;
$LPFormButtonPaddingTB: 7px;
$LPFormButtonPaddingLR: 20px;
$LPFormButtonMarginTop: 10px;
$LPFooterPadding: 20px;
$LPFooterTextMarginL: 15px;
$LPFooterTextPadTB: 5px;
$LPFooterTextPadLR: 15px;
$LPErrorMessageColor: #e34849;
$LPSuccessMessageColor: #04a506;
$LPErrorMessageMargin: 5px;
$LPErrorMessageFontSize: 12px;
$LPErrorMessagePadLeft: 45px;
$LPErrorMessageTopPadLeft: 30px;
$LPForgetPassFontSize: 14px;
$LPForgetPassPadTop: 15px;
