.layout-splitScreen {
	min-height: (2 * $designDimensionXXL);

	.layout-splitScreen-cols {
		min-height: (2 * $designDimensionXXL);
		position: relative;

		&:first-child:after {
			background: $borderColor;
			content: '';
			height: ($fullPercentage - 5);
			position: absolute;
			top: 1em;
			right: 0;
			width: ($numberTwo + px);
		}
	}
}
