$SBBorderColor: #e6e6e6;
$SBBorderColorActive: #ccc;
$SBPaddingTB: 5px;
$SBPaddingLR: 8px;

.inputBasic {
	padding: $SBPaddingTB $SBPaddingLR;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	text-align: left;
	background-color: $whiteColor;
	border: 1px solid $SBBorderColor;
}

.inputMinimal {
	width: 100%;
	padding: 3.5px 10px;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
}

select.inputMinimal {
	padding: 3.5px 5px;
}
