$fontFamily: 'Karla', sans-serif;

$FMLayoutDimension: 10px;
$whiteColor: #fff;
$MBCHeadBg: #f2f3f4;

$sidebarWidth: 250px;
$sidebarTransitionStyle: linear;
$sidebarTransitionDuration: 0.3s;

//Loader ($LO)
$LOSpinBeforeHeiWidth: 100px;
$LOSpinBeforeBorderWid: 5px;

//LoaderBar ($LB)
$LBHeight: 3px;
$LBSpinnerPosition: 15px;
$LBSpinnerHeightWidth: 20px;
