// Colors
$primaryColor: #eb575c; //Main Adpushup Red Color
$primaryColorDark: #cf474b; //Red Dark Color
$primaryColorLight: #fb9fa2;
$mainBgColor: #f6f7f8;
$whiteColor: #fff;
$blackColor: #000;
$warningColor: #f0ad4e;
$fontFamily: 'Karla', sans-serif;
$fontColor: #555555;
$dimFontColor: #b2b2b2;
$borderColor: #e6e6e6;
$iconColor: #787878;
$arrowDownIconSize: 12px;
$BorderRadius: 3px;
$dashboardBgColor: #ebf1f2;
$lightGrey: #ccc;
$fontSize: 12px;
$GreenColor: #14a314;
$codeFont: monospace;
$codeBg: #f3f5f7;
$primaryRed: #d9434e;
$primaryRedDark: darken($primaryRed, 10%);
$successGreen: #3bb85d;
$linkBlue: #47b6e4;
$darkGreyColor: #505050;

$sidebar-width: 250px;
$sidebar-transition-style: linear;
$sidebar-transition-duration: 0.3s;

//Loader ($LO)
$LOSpinBeforeHeiWidth: 100px;
$LOSpinBeforeBorderWid: 5px;

//LoaderBar ($LB)
$LBHeight: 3px;
$LBSpinnerPosition: 15px;
$LBSpinnerHeightWidth: 20px;

/*Extra Space ($ES)*/
$ESBg: #f6f7f8;
$ESPadding: 20px;

/*ToolBar (MB) ToolBar Container ($MBC)*/
$MBButtonRowBorder: #dfdfe0;
