$sidebar-width: 250px;
$sidebar-transition-style: linear;
$sidebar-transition-duration: 0.3s;

//Loader ($LO)
$LOSpinBeforeHeiWidth: 100px;
$LOSpinBeforeBorderWid: 5px;

//LoaderBar ($LB)
$LBHeight: 3px;
$LBSpinnerPosition: 15px;
$LBSpinnerHeightWidth: 20px;
