.red{
	color : red;
}

.green{
	color : #0a1;
}

#divv{
    font-family: sans-serif;
	text-align: center;
}

.pullButton{
	background-color: #aaf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'monospace';
    font-size: 20px;
    text-decoration: none;
    cursor: poiner;
    border: 2px solid #33f;
}

.pushButton{
	background-color: #faa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'monospace';
    font-size: 11px;
    text-decoration: none;
    cursor: poiner;
    border: 2px solid #f33;
}

.pullButton:hover{	
	background:#ccf;

}

.pushButton:hover{
	background:#fcc;
}


.pullButton:active {
	border: 2px solid #88f;
	background: #33f;
}

.pushButton:active{
	border: 2px solid #f88;
	background: #f33;
}

.pullButton:focus, .pushButton:focus {outline:0;}

.pullButton:disabled, .pushButton:disabled{
	background : #777
}