.user-interaction-modal {
	height: 100%;
	.modal-dialog {
		height: 100% !important;
		.modal-content {
			margin-top: 37.5%;
			.modal-body {
				.user-error-feedback {
					resize: none !important;
				}
			}
		}
	}
}
