/* Additional component set for app UI */

/* Inputs */
%input-base {
	padding: 8px;
	font-size: 1.15em;
	transition: all .2s ease-in-out;

	&:focus {
		border-color: $primaryColor;
		outline: none;
	}
}

.input-box {
	@extend %input-base;
	width: 100%;
	border: 1px solid $lightGrey;
	border-radius: 2px;
}

textarea {
	@extend .input-box;
	resize: none;
}

/* Buttons */
%apbtn {
	@extend %input-base;
	width: 100%;
	display: inline-block;
	border-radius: 2px;
	text-transform: uppercase;
	text-align: center;

	&:disabled {
		opacity: .65;
	}
}

.apbtn-main {
	@extend %apbtn;
	background-color: $primaryColor;
	color: $whiteColor;
	border: 1px solid $primaryColorDark;

	&:hover,
	&:focus,
	&:active {
		background-color: $primaryColorDark;
		color: $whiteColor;
	}
}

.apbtn-main-line {
	@extend %apbtn;
	background-color: transparent;
	color: $primaryColor;
	border: 1px solid $primaryColor;

	&:hover,
	&:focus,
	&:active {
		color: $primaryColor;
		box-shadow: inset 0px 0px 2px $primaryColor;
	}
}

.apbtn-danger {
	@extend %apbtn;
	background-color: $primaryRed;
	color: $whiteColor;
	border: 1px solid $primaryRedDark;

	&:hover {
		color: $whiteColor;
		background-color: $primaryRedDark;
	}
}

.apbtn-danger-line {
	@extend %apbtn;
	background-color: transparent;
	color: $primaryRed;
	border: 1px solid $primaryRed;

	&:hover {
		color: $primaryRed;
		box-shadow: inset 0px 0px 2px $primaryRed;
	}
}

.apbtn-small {
	font-size: .95em;
	padding: 7px;
}

.apbtn-icon {
	color: $whiteColor;
	font-size: 1.15em;
	vertical-align: middle;

	& > i.fa-google {
		margin-right: 10px;
		background-color: $whiteColor;
		height: 20px;
		width: 20px;
		color: $primaryColor;
		padding-top: 4.2px;
    	border-radius: 20px;
	}
}

/* Alerts */
%alert {
	padding: 10px;
	color: $whiteColor;
	font-size: 1.2em;
	z-index: 1000;

	.close {
		margin-right: 10px;
	}
}

.apalert-error {
	@extend %alert;
	background-color: rgba($primaryRed, .94);
}

.apalert-success {
	@extend %alert;
	background-color: rgba(darken($successGreen, 5%), .94);

	a {
		color: $whiteColor;
		text-decoration: underline;

		&:hover {
			color: $codeBg;
			text-decoration: underline;	
		}
	}
}

.apalert-inverted {
	@extend %alert;
	background-color: rgba(0,0,0,.86);

	.close {
		color: $iconColor;
		opacity: 1;
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	}
}

/* Alert card */

%alert-card {
  width: 500px;
  font-size: 2em;
  margin: 50px auto;
  @extend %shadow;
  border-radius: 4px;
  padding: 30px;

  i {
    display: block;
    font-size: 2.5em;
    margin-bottom: 30px;
  }

  p {
  	margin: 8px 0 30px;
  	font-size: 0.7em;
  }

  .apbtn-main {
    font-size: 0.6em;
  }
}

.alert-card-default {
	 @extend %alert-card;
	  color: $fontColor;
	  background-color: $whiteColor;
	  
	  i {
	    color: darken($whiteColor, 22%);
	  }
}


.alert-card-error {
  @extend %alert-card;
  color: #fff;
  background-color: $primaryRed;
  
  i {
    color: darken($primaryRed, 12%);
  }
}

/* Select box */
.select-wrapper {
	background-color: $whiteColor;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border: 1px solid $lightGrey;
	border-right: 0;
	margin-right: -1px;
    padding-right: 5px;
	position: relative;

	.fa-angle-down {
		position: absolute;
		background: $whiteColor;
		right: 0px;
		top: 9px;
		font-size: 1.5em;
		padding: 0 10px;
		color: $fontColor;
	}

	select {
		background-color: transparent;
		color: $fontColor;
		border: none;
		width: 100%;
		height: 35px;
		font-size: 1.2em;
	}
}

/* Radio button */
.radio-label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.radio-label input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio-label input:checked ~ .radio-indicator {
    background: $primaryColor;
}

.radio-label .radio-indicator {
    border-radius: 4px;
}

.radio-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: $dashboardBgColor;
	@extend %shadow;
}

.radio-label input:checked ~ .radio-indicator:after {
    display: block;
}

.radio-label .radio-indicator:after {
    left: 4px;
    top: 2px;
	font-size: .8em;
	content: '\2714';
	color: $whiteColor;
}

.radio-indicator:after {
    position: absolute;
    display: none;
}

/* Badge */

%badge {
    display: inline-block;
    color: $whiteColor;
    text-transform: uppercase;
	border-radius: 20px;
	text-align: center;
	padding: 1px 0;
}

%badge-solid {
	@extend %badge;
	width: 50px;
}

%badge-round {
	@extend %badge;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.badge-primary {
	@extend %badge-solid;
	background-color: $primaryColor;
}

.badge-danger {
	@extend %badge-solid;
	background-color: $primaryRed;
}

.badge-primary-round {
	@extend %badge-round;
	background-color: $primaryColor;
}

.badge-danger-round {
	@extend %badge-round;
	background-color: $primaryRed;
}

/* Anchors */

.link-primary {
    text-decoration: underline;
    color: $primaryColor;

    &:hover {
    	color: $primaryColorDark;
    }
}

/* Overlay */

.overlay-primary {
  position: fixed;
  z-index: 2000;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.65);

  .overlay-inner {
	background-color: $whiteColor;
	width: 60%;
	position: absolute;
	left: 20%;
	top: 15%;

	.overlay-heading {
		h2 {
			font-weight: 400;
			color: $whiteColor;
			background: $primaryColor;
			padding: 20px;
		}
	}

	.overlay-content {
		padding: 20px;

		p {
			font-weight: 300;
			color: $fontColor;
			font-size: 1.25em;
		}	
	}
  }
}

/* Select box */

.select-box-lg {
	width: 180px;
	background-position-x: 158px;

	& > select {
		width: 100%;
	}
}