.manage-site-card {
	width: ($fullPercentage - 70) !important;
}
.custom-tooltip {
	display: inline;
	vertical-align: bottom;
	margin-left: 5px;
}
.status-text {
	padding: 1rem 1.5rem;
}
.app-image {
	max-width: 90%;
	height: 160px;
}
