// Inline edit component styling

input,
textarea {
    width: 100%;
    padding: 3.5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.2s ease;
    font-weight: 700;
    box-shadow: none;
    border: none;
}

