extends  ../layout/base

block getTitle
    - var titleVar = "DashBoard"

block bodyContent

    include ../layout/sideBar

    if environment === 'production'
        include ../layout/extensionDetection

    .pageContainer.page-container
        include ../layout/header

        // Page Content Starts Here
        .pageContentWrapper.page-content
            .pageContentInner.page-content--inner

                include ../layout/pageGroupsTable