#feed, h2 {
	font-family : "Lucida Console", Monaco, monospace;
	color : #f99;
	
}

body {
  font-family: "Lucida Console", Monaco, monospace
}

.blob, .blob div {
	padding : 10px;
	background-color: #eee;
	
	border-radius: 6px;

  border: 2px solid #aaa;

	font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
}

/*.hoverfilter:hover {
  background-color: #fee;
}

.hoveraggr:hover {
  background-color: #efe;
}*/

.blob{
  display : inline-block;
}

.blob div {
  margin-bottom : 1em;
}

input[type="text"]{
	font-family : "Lucida Console", Monaco, monospace;
  font-size: 0.7em;
}

button{
	background-color: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color: #222;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    text-decoration: none;
 
    border: 1px solid #999;

}

button:hover{
	background:#eee;
}

button:active{
	background:#fff;
}

button:focus, button:focus {outline:0;}

button:disabled {
	background : #666;
	border-color : #777;
	color: #aaa;
}

#dialogContainer {
   position: fixed;
   
   left: 0;
   top: 0;
   
   background-color: rgba(150,150,150,0.5);
   font-family: "Lucida Console", Monaco, monospace;


   display: none;
   justify-content:center;
   align-items:center;
   width:100%;height:100%;

}

.centered {
  text-align: center;
}

.dialogHidden {
	display : none;
}

.dialogVisible{
	display : block;
}
