//- Template for adding a new site 

- link = domanized ? '- '+domanized : '';
- noSitePresentAlertStr = (domanizedUrl && domanizedUrl.length > 0) ? domanizedUrl : "one";
- addSiteTemplateStr = "<div id='alert--noSitePresent' data-site='" + origUnSavedDomain + "' data-toggle='modal' data-target=''><button id='addUserSite' class='btn-st apbtn-main'>Lets add <span style='cursor: pointer;'>" + noSitePresentAlertStr +" ?</span></button></div> ";

//- Alert wrapper
div.detectap-alert.text-center#apdetect

 //- Onboarding steps 
.onboarding-wrapper
 
    //- Site addition + platform detection
    .onboarding-step#step1 
        span(class="counter-icon")
            | 1 
        h3(class="ob-heading")
            | Add your site 
            span.link !{link } 
            i#step1-check.fa
        div(class="ob-content")
            p.text-medium.text-center
                |  Let’s add your website here. Optio cupiditate, ea, ut numquam ad vel odit dicta blanditiis, fugiat at dolor officia! Error optio architecto voluptatem nulla, impedit facilis quos? 
            if unSavedSite
                div#addSiteStr
                    != addSiteTemplateStr
            else
                div#addSiteStr
                    h2(class="text-appear")
                        span
                            != utils.domanize(validSites[0].domain) 
                        |  has been Added!
            p.text-medium.text-center#cms-text 
            #cms-res

            if !unSavedSite && validSites[0].cmsInfo
                p.text-medium.text-center
                    | Website platform selected -
                .row(style="margin-top: -20px;")
                    .col-sm-4.col-sm-offset-4
                        if validSites[0].cmsInfo.cmsName == 'wordpress'
                            button.apbtn-main.ob-bigbtn.cms-added(disabled)
                                i.fa.fa-wordpress
                                | Wordpress
                                i.fa.fa-check
                        else
                            button.apbtn-main.ob-bigbtn.cms-added(disabled)
                                | Other
                                i.fa.fa-check        

    //- Adpushup detection
    .onboarding-step.ob-apver#step2
        span(class="counter-icon")
            | 2
        h3(class="ob-heading")
            | Install and verify Adpushup on your website 
            i#step2-check.fa
        div(class="ob-content")
            p.text-medium.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cupiditate, ea, ut numquam ad vel odit dicta blanditiis.
            #platformVerificationContent

    //- Grant adsense oauth access
    .onboarding-step#step3
        span(class="counter-icon")
            | 3
        h3(class="ob-heading")
            | Connect Adsense Account 
            i#step3-check.fa
        div(class="ob-content")
            p.text-medium.text-center
               |  Connecting your Google AdSense account will allow AdPushup to pull AdSense reports and generate more detailed reporting for comparison with AdPushup’s set-up.
            br
            .row
                .col-sm-4.col-sm-offset-4
                    button(id="adsenseoauth", class="apbtn-main apbtn-icon")
                        i.fa.fa-google
                        | Connect Google AdSense            

    //- Grant adsense non-admin access
    .onboarding-step#step4
        span(class="counter-icon")
            | 4
        h3(class="ob-heading")
            | Grant non-admin access
            i#step4-check.fa
        div(class="ob-content")
            p.text-medium.text-center
               |  Access to your AdSense account will allow your dedicated AdPushup Success Manager to create and manage the ads on your website, as well as, authorize AdPushup to track the performance of the ad units ensuring optimized performance.
            br
            .row
                .col-sm-4.col-sm-offset-4
                    button(id="adsenseoauth", class="apbtn-main")
                        | I've done this                                             