//- Template for adding a new site 

- link = domanized ? '- '+domanized : '';
- noSitePresentAlertStr = (domanizedUrl && domanizedUrl.length > 0) ? domanizedUrl : "one";
- addSiteTemplateStr = "<div id='alert--noSitePresent' data-site='" + origUnSavedDomain + "' data-toggle='modal' data-target=''><button id='addUserSite' class='btn-st apbtn-main'>Lets add <span style='cursor: pointer;'>" + noSitePresentAlertStr +" ?</span></button></div> ";

//- Intro modal
#intromodal.modal._ap_modal.fade.intro-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .pull-right
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .text-center
                h2 Welcome to AdPushup!
                p
                    | AdPushup lets you Maximize Your Ad Revenue With The Power Of Ad Layout Optimization.
                img.img-responsive(src="/assets/images/intro_graphic.png")
                p
                    | AdPushup’s ad layout optimization technology will help you increase the viewability of your existing website ads without affecting visitor experience.
                .row
                    .col-sm-4.col-sm-offset-4
                        button.apbtn-main(type='button', data-dismiss='modal', aria-label='Close') Get Started

//- Setup completion modal
#completionmodal.modal._ap_modal.fade.intro-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .pull-right
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .text-center
                h2 Your setup is complete!
                p
                    | Our advisors will get in touch with you soon.
                img.img-responsive(src="/assets/images/completion_graphic.png")
                p
                    | You can also contact us at 
                    a.link-primary(href="mailto:support@adpushup.com") support@adpushup.com
                .row
                    .col-sm-4.col-sm-offset-4
                        button.apbtn-main(type='button', data-dismiss='modal', aria-label='Close') Done

//- Send Code to Developer Modal
#sendToDevModal.modal._ap_modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Send Code to Developer
            form.form-inline#sendCodeForm
                .modal-body.addSite
                    .form-group
                        .input-group
                            span.input-group-addon
                                i.fa.fa-envelope-o
                            input.form-control.input-lg(type='email', required=true, name='developerEmail', placeholder='Enter your developer\'s email')
                            input(type="hidden", name="headerCode", id="headerCodeInput")
                        .error-message 
                .modal-footer.row
                    .col-xs-12
                        button.btn-lightBg.btn.btn-block.btn-lg(id="sendCodeSubmit", type='submit') Send

//- Alert wrapper
div.detectap-alert.text-center#apdetect

 //- Onboarding steps 
.onboarding-wrapper
 
    //- Site addition + platform detection
    .onboarding-step#step1 
        span(class="counter-icon")
            | 1 
        h3(class="ob-heading")
            | Add your site 
            span.link !{link } 
            i#step1-check.fa
        div(class="ob-content")
            p.text-medium.text-center
                |  Let’s add your website here. Optio cupiditate, ea, ut numquam ad vel odit dicta blanditiis, fugiat at dolor officia! Error optio architecto voluptatem nulla, impedit facilis quos? 
            if unSavedSite
                div#addSiteStr
                    != addSiteTemplateStr
            else
                div#addSiteAlt
                    div#addSiteStr

            p.text-medium.text-center#cms-text 
            #cms-res                

    //- Adpushup detection
    .onboarding-step.ob-apver#step2
        span(class="counter-icon")
            | 2
        h3(class="ob-heading")
            | Install and verify Adpushup on your website 
            i#step2-check.fa
        div(class="ob-content")
            p.text-medium.text-center
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cupiditate, ea, ut numquam ad vel odit dicta blanditiis.
            #platformVerificationContent

    //- Grant adsense oauth access
    .onboarding-step#step3
        span(class="counter-icon")
            | 3
        h3(class="ob-heading")
            | Connect Adsense Account 
            i#step3-check.fa
        div(class="ob-content")
            p.text-medium.text-center
               |  Connecting your Google AdSense account will allow AdPushup to pull AdSense reports and generate more detailed reporting for comparison with AdPushup’s set-up.
            br
            .row
                .col-sm-4.col-sm-offset-4
                    button(id="adsenseoauth", class="apbtn-main apbtn-icon")
                        i.fa.fa-google
                        | Connect Google AdSense            

    //- Grant adsense non-admin access
    //- .onboarding-step#step4
    //-     span(class="counter-icon")
    //-         | 4
    //-     h3(class="ob-heading")
    //-         | Grant non-admin access 
    //-         i#step4-check.fa
    //-     div(class="ob-content")
    //-         p.text-medium.text-center
    //-            |  Access to your AdSense account will allow your dedicated AdPushup Success Manager to create and manage the ads on your website, as well as, authorize AdPushup to track the performance of the ad units ensuring optimized performance.
    //-         br
    //-         .row
    //-             .col-sm-4.col-sm-offset-4
    //-                 button(id="adsensenonadmin", class="apbtn-main")
    //-                     | I've done this    