include ../mixins/mixins

doctype html
html(lang="en")
    block getTitle

    head
        block head
                meta(charset="UTF-8")
                block headCss
                    link(href='http://fonts.googleapis.com/css?family=Karla', rel='stylesheet', type='text/css')
                    if environment == "production"
                        link(href="/assets/css/website.min.css", rel="stylesheet", type="text/css")
                    else
                        link(href="/assets/css/website/website.css", rel="stylesheet", type="text/css")
                    link(href="/assets/css/onboarding.css", rel="stylesheet", type="text/css")


                link(id="favicon", rel="shortcut icon", href="/assets/images/favicon.ico", sizes="48x48", type="image/png")
                title #{titleVar + " - AdPushup"}

                block headScripts
                    if environment == "production"
                        script(type='text/javascript', src='//code.jquery.com/jquery-1.11.2.min.js')
                    else
                        script(type='text/javascript', src='/assets/js/jquery-3.1.0.min.js')

                    script(type='text/javascript').
                        window.apjQuery = window.jQuery;

                    - var baseLibsStr = "/assets/js/builds/";
                    - var baseLibsFinalStr = (environment == "production") ? (baseLibsStr + "base-libs-build.min.js") : (baseLibsStr + "base-libs-build.js");
                    +loadAsset("js", [baseLibsFinalStr])

    body
    
        block bodyContent
        div(id="freeow-tr", class="freeow freeow-top-right")
