//- Extension detection alert

.alert.alert-danger.alert-mini-right.alert-dismissible.fade.in#extension-overlay.ap-hide(role='alert')
  button.close(type='button', data-dismiss='alert', aria-label='Close')
    span(aria-hidden='true') ×
  | Please install the 
  a(href="https://chrome.google.com/webstore/detail/adpushup/nbbbgcccgkkkemfmbjmbelkcgjlpibon?utm_source=chrome-ntp-icon" target="_blank") AdPushup extension
  |  in order to access the visual editor.
