//- Extension detection overlay template

.overlay-primary.overlay-extension#extension-overlay
    .overlay-inner
        .overlay-heading
            h2 AdPushup Extension not found!
        .overlay-content
            p Please install the AdPushup extension in order to access the visual editor.
            p Once installed please refresh the page.
            .text-center
                a.btn.btn-lightBg.btn-default.over-ext-btn(href="https://chrome.google.com/webstore/detail/adpushup/nbbbgcccgkkkemfmbjmbelkcgjlpibon?utm_source=chrome-ntp-icon", target="_blank") Install AdPushup Extension