.headerTopBar.navbar-fixed-top
	ul(class="nav navbar-nav navbar-right")
		li
			a(href="/" target="_blank") 
				i.fa.fa-external-link 
				| Geniee Account
		li
			a(href="/" target="_blank") 
				i.fa.fa-user 
				| Mike
		
            
        
