- imageHeaderLogo = imageHeaderLogo || false;
- buttonHeaderLogout = buttonHeaderLogout || false;

.headerTopBar.navbar-fixed-top.js-site-header
    if imageHeaderLogo
        .pull-left
            img.logo.logoL(src="/assets/images/logo.png", alt='logo', width='163', height='33', style="margin: 12px 25px;")

    .pull-right.col-lg-6.visible-lg.visible-md.mT-10.text-right
        if isSuperUser
            form(action='/user/switchTo', method='post', style='display: inline-block;width: 50%;')
                input.form-control(type='text', style='height: 36px;', id="dashboard-mail-list-input", list='targetEmail', name='email', onchange='this.form.submit()')
                datalist#targetEmail(name='email')
                    each userEmail in usersList
                        option(value=userEmail) #{userEmail}
        if buttonHeaderLogout
            a.apbtn-danger(id="sidebar-logout-link", href='/user/logout', style='width: 30%; margin-left: 10px;') Logout