div(class="aligner aligner--row u-margin-20px u-padding-b10px main-heading-wrapper js-main-heading-wrapper")
    div(class="col-xs-9 col-md-9 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
        h3.heading.heading--h3
            a Reporting and Analytics
    div(class="col-xs-3 col-md-3 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom js-main-heading-options")
        button(id="filter-btn", class="btn btn-default btn--with-icon aligner aligner--row aligner--hCenter aligner--vCenter js-filter-btn", type="button") Filters
            i(class="fa fa-filter")
