div(class="aligner aligner--row table-heading-wrapper js-table-heading-wrapper")
    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
        h4(class="table-heading js-table-heading") !{localeData.DATA_TABLE.TITLE}
    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")

// Report Table Begins
.ReportsWrapper.table-reports-wrapper
    //- NOTE: Removed as per requirement
    //- .ReportsToggleBtnWrap
    //-     a.btn.ReportsToggleBtn.p-All-0(data-toggle='collapse', href='#collapseExample', data-placement='top', aria-expanded='true', aria-controls='collapseExample')
    #collapseExample.collapse.in(aria-expanded='true', style='')
        .well.pd-0
            #reports_table.panel.panel-default
// Report Table Ends
