div(class="loaderwrapper loaderwrapper--fixed spinner hide js-loaderwrapper")
    img(src="/assets/images/loaderLogo.png")
    div(class="loaderwrapper-text") Fetching reports...
div(class="aligner aligner--column aligner--hCenter aligner--vCenter notification-wrapper hide js-notification-wrapper")
    h3(class="notification-heading") Unable to fetch reports right now.
    button(data-loading-text='Resetting...', autocomplete='off', class="btn btn-default btn-theme btn-theme--primary js-report-reset-btn js-filter-reset") Reset Filters
