div(class="loaderwrapper loaderwrapper--fixed spinner hide js-loaderwrapper")
    img(src="/assets/images/loaderLogo.png")
    div(class="loaderwrapper-text") !{localeData.PAGE_LOADER.TITLE}
div(class="aligner aligner--column aligner--hCenter aligner--vCenter notification-wrapper hide js-notification-wrapper")
    h3(class="notification-heading js-notification-heading") !{errorText}
    div(class="notification-btnWrapper u-full-width aligner aligner--vCenter aligner--hCenter")
        button(id="filter-btn", type="button", class="btn btn-default btn--with-icon btn-theme--primary aligner aligner--row aligner--hCenter aligner--vCenter js-filter-btn") !{localeData.PAGE_LOADER.BUTTON_FILTER}
            i(class="fa fa-filter")
        button(data-loading-text="Resetting...", autocomplete="off", class="u-margin-l15px btn btn-default btn-theme report-reset-btn js-report-reset-btn js-filter-reset") !{localeData.PAGE_LOADER.BUTTON_RESET_FILTER}
