div(class="aligner aligner--row perf-panel-heading-wrapper")
    div(class="col-xs-6 col-md-6 u-padding-r15px aligner aligner--row aligner--vCenter aligner--hStart")
        h4 Performance
    div(class="col-xs-6 col-md-6 u-padding-0px aligner aligner--row aligner--vCenter aligner--hBottom")
        //- NOTE: To be added later
        //- h5 Export as

div(class="thumbnail-panel-group perf-panel-wrapper aligner aligner--row js-perf-header")
    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-revenue")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") REVENUE (¥)
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageViews")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") PAGE VIEWS
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-clicks")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") CLICKS
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageRPM")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") PAGE RPM
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")
    div(class="thumbnail u-margin-0px u-padding-0px aligner-item js-thumbnail js-perf-header-pageCTR")
        div(class="panel u-margin-0px u-padding-0px")
            div(class="panel-heading aligner aligner--row aligner--vCenter aligner--hCenter")
                div(class="panel-title") PAGE CTR
            div(class="panel-body aligner aligner--row aligner--vCenter aligner--hCenter js-panel-body")

//- Chart wrapper
div(id="chart-container", class="u-margin-20px js-chart-container", style="background-color: #eee; text-align: center; font-size: 1.5em; height: 340px; border: 1px solid #ddd;")

