.u-hide {
	display: $none !important;
}

.u-cursor-pointer {
	cursor: $cursorPointer !important;
}

.u-box-shadow-none {
	-webkit-box-shadow: $none !important;
	box-shadow: $none !important;
}

.u-border-none {
	border: $none !important;
}

.u-link-reset {
	color: $inherit !important;
	text-decoration: $none !important;
}
